<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-12">


      <div class="row">
        <div class="col-md-4" style="padding-left:0"><a routerLink="/home"  class="pull-left"><img src="./assets/images/header.png" alt=""></a></div>
        <div class="col-md-8">
          <nav>

            [ <a routerLink="/home">Home</a> ] <!--[ <a routerLink="/test">Test</a> ]--> 
            <span *ngIf="user && user.name">{{user?.name}}</span>
            <span *ngIf="user && !user.name"> {{user?.email}}</span>

            <a
           
            *ngIf="!auth.isAuthenticated()"
            (click)="auth.login()">
              Log In
          </a>
    
          <a
          
            *ngIf="auth.isAuthenticated()"
            (click)="auth.logout()">
              Log Out
        </a>
    
          </nav>
        </div>
      </div>

      <div class="row">
          
                  <div class="col-md-12">
  <!--<h1><img src="./assets/images/header.png" title="MHash"/></h1>-->
                  </div>
                </div>

      <div class="row">
        <div class="col-md-12">
            <div>
                <div *ngIf="!show" class="text-left"><i class="fa fa-bars" (click)="sidemenu.toggle()"></i></div>
                <div style="position: relative;"><app-sidemenu #sidemenu></app-sidemenu></div>
              </div>
            <router-outlet></router-outlet>
          </div>   
      </div>

      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
      <br/><br/>
    </div>
  </div>
</div>