<div class="row">
    <div class="col-md-3">

        <div class="bpanel">

            <h3>Biography</h3>
            Profile Info <br/> Web Link <br/> Contact <br/> CV Link
        </div>

        <div class="bpanel">

            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
        </div>

    </div>
    <div class="col-md-6">
        <h1>Profile {{user.name}}</h1>
        <h2>Gallery</h2>


        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

        <!--
        <kendo-scrollview [data]="items" [width]="width" [height]="height" [arrows]="arrows" [endless]="endless">
            <ng-template let-item="item">
                <h2 class="demo-title">{{item.title}}</h2>
                <img src='{{item.url}}' alt='{{item.title}}' [ngStyle]="{minWidth: width}" draggable="false" />
                <div>Description</div>
            </ng-template>
        </kendo-scrollview>
    -->

    </div>
    <div class="col-md-3">

        <div>

            <img src="./assets/images/black_female_business_user-th.png" alt="">
        </div>

        <div class="bpanel">

            <br>&nbsp;
            <br>&nbsp;d
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
        </div>

        <div class="bpanel">

           <!--     <a class="twitter-timeline" href="https://twitter.com/LordGrimdark?ref_src=twsrc%5Etfw">Tweets by LordGrimdark</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<br/>
<a class="twitter-timeline"  href="https://twitter.com/hashtag/blackart" data-widget-id="948972251227009024">#blackart Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


        </div>


    </div>

</div>